* {
  font-family: 'Roboto', sans-serif;
}

.card {
  background-color: #f9f9f9;
  /* display: inline-flex; */
  width: 380px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding: 10px;
  margin: 10px;
  border: 1px solid gray;
  border-radius: 5px
}

h1 {
  padding: 10px;
}

form {
  margin: 10px;
}

.submit {
  margin-top: 10px;
}

.remove {
  margin-left: 10px;
}